upstream uwsgi {
    server 127.0.0.1:8000;
}

server {
    listen 80;

    server_name api-yueying.cheangfou.com www.api-yueying.cheangfou.com;

    access_log /var/log/access/api-yueying.log;
    error_log  /var/log/error/api-yueying.log;

    # no security problem here, since / is alway passed to upstream
    # root /home/ubuntu/web/www.<vhost>.com;

    # location /media/ {
    # 	alias /home/ubuntu/api-yueying/media;
    # }

    location /static/ {
    	alias /home/ubuntu/api-yueying/static/;
    }


    location / {
	proxy_pass http://uwsgi;
        include      /etc/nginx/uwsgi_params;
        # uwsgi_pass   127.0.0.1:8000;
    	
    
    }

    # what to serve if upstream is not available or crashes
    error_page 400 /static/400.html;
    error_page 403 /static/403.html;
    error_page 404 /static/404.html;
    error_page 500 502 503 504 /static/500.html;

}
