# set DEBUG to False when in production
DEBUG=
SECRET_KEY=

# Some URL
BACKEND_URL=
FRONTEND_URL=

# for database when deploy
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# use for email sending protocol
EMAIL_FROM_USER=
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
EMAIL_PORT=

# AWS S3 Bucket
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_S3_SIGNATURE_VERSION=
AWS_FILE_OVERWIRTE=
AWS_DEFAULT_ACL=
DEFAULT_FILE_STORAGE=